.navbar {
    width: 80px;
    background-color: #E98B9C;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar ul li a img {
    width: 50px;
}
/* Ensure the sections are full height */
.login-image, .login-page {
    height: 100vh;
}

/* Center the content within the sections */
.login-page {
    padding: 20px;
    background-color: hsl(350, 100%, 92%);
}

/* Style the form inputs and button */
.form-control {
    width: 100%;
}

button{
    margin: 0 auto;
    align-items: center;
}
.btn-primary {
    background-color: #b9013e;
    border-color: #e91e63;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #f10655;
    border-color:  #f10655;
}
.login-image img {
    max-height: 100%;
    width: auto;
}
/* Ensure the image fits its container */
.login-image img {
    object-fit: cover;  /* Ensures the image covers the space without stretching */
    width: 100%;
    height: 100%;
}

/* Custom pink color for h1 and make them bold */
.text-pink {
    color: #e91e63; /* Pink color */
    font-weight: bold; 
    /* Bold text */
}
.container-fluid, .row {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Style the input fields with bold underline */
.custom-input {
    border: none;
    border-bottom: 2px solid #E98B9C; /* Pink underline */
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
}

/* Optional: Add focus styles for input fields */
.custom-input:focus {
    outline: none;
    border-bottom: 2px solid #D1788A; /* Darker pink for focus */
}
/* Center the button */
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional: add some space above */
}


/* Adjust button size */
button[type="submit"].btn-primary {
    font-size: 18px;
    font-weight: 700;
    padding: 8px 20px;
    width: auto;
}
.eye-icon {
  position: absolute;
  top: 67%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;  /* Adjust width and height as needed */
  height: 20px;
}

.custom-input {
  padding-right: 35px; /* Provide space for the eye icon */
}
.sign_Link a {
    color: rgb(0, 0, 255);
}